@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css');
@import url('typo.css');
@import url('header.css');
@import url('footer.css');
@import url('transitions.css');

html, body{
    font-family: 'Open Sans', sans-serif;
}
*::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none
}
*::--webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none
}
*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none
}
::-webkit-input-placeholder {
    color: #474747
}
:-moz-placeholder {
    color: #474747
}
::-moz-placeholder {
    color: #474747
}
:-ms-input-placeholder {
    color: #474747
}
html {
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: sans-serif
}
body {
    max-width: 100vw;
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
    -webkit-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
}
body.open .dimmer, 
body.active .dimmer{
    z-index: 8;
    opacity: 1;
}
body.open {
    position: fixed;
    max-height: 100vh;
    overflow: hidden;
}
body.login {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
}
.clear {
    clear: both
}
picture {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: block;
    background-color: #f9f9f9
}
picture img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%
}
picture > br {
    display: none
}
button, button:focus{
    outline:0 none;
}
.subscribe{
    padding:5rem 0;
    margin:3rem 0 0;
    background:url('../img/newImg/bg2.png');
    background-size:cover;
    background-position:25%;
}
.scroll-up {
    position: fixed;
    bottom: 1vw;
    right: 1%;
    display: inline-block;
    opacity: 0;
    cursor: pointer;
    min-width: 3%;
    height: auto;
    background-color: #fff;
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 9999999
}
.scroll-up:before {
    content: '';
    display: block;
    margin-top: 100%
}
.scroll-up.scrolling {
    opacity: 1
}
.scroll-up:hover {
    background-color: #474747
}
.scroll-up:hover i,
.scroll-up:hover span {
    color: #fff
}
.scroll-up i {
    position: absolute;
    top: 15%;
    left: 50%;
    color: #474747;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1.2vw;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}
.scroll-up span {
    font-size: .5vw;
    font-weight: 900;
    letter-spacing: 1px;
    color: #474747;
    position: absolute;
    bottom: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}
.heading-fancy:after {
    content: "";
    position: absolute;
    background-image: linear-gradient( to right,#FFBA42,#e373c5 );
    width: 120px;
    height: 4px;
    left: 0;
    right: 0;
    margin: 60px auto 0;
}

.font-weight-bolder{
    font-weight:700;
}

.site-pink-text{color: #F970B1;}
.site-dark-pink-text{color: #FF0168;}
.site-blue-text{color: #42CDFF;}
.site-yellow-text{color: #FFC632;}
.site-green-text{color:#19ff42}
.site-purple-text{color: #b35dff}
.site-purple-text{color: #b35dff}
.site-orange-text{color: #E87232}
.site-dark-purple-text{color:#cd00ff}
.site-dark-header-text{color: #5f537d}

.site-pink-bg{background-color: #F970B1;}
.site-dark-pink-bg{background-color: #FF0168;}
.site-blue-bg{background-color: #42CDFF;}
.site-yellow-bg{background-color: #FFC632;}
.site-green-bg{background-color:#2BD123}            

.pink-btn, .purple-btn{             
    border-radius:35px!important;
    padding: .7rem 1.4rem;
    color: #fff!important;
    font-weight:bolder;             
    transition:all .25s ease-in;                
}
.pink-btn{
    background-image: linear-gradient(to bottom right,#FF6EAA 20%,#8989FF)!important;
    box-shadow: 0 8px 60px 0 rgba(255, 23, 156, 0.27);
}
.pink-btn:hover{
    box-shadow: 0 22px 60px 0 rgba(255, 23, 156, 0.27);
    transform: scale(1.10);
}
.purple-btn{
    background: #cd00ff!important;
    box-shadow: 0 8px 60px 0 rgba(214, 0, 254, 0.27);
}
.purple-btn:hover{
    box-shadow: 0 22px 60px 0 rgba(214, 0, 254, 0.27);
    transform: scale(1.10);
}   
.purple-btn.btn-sm{
    padding:.7rem 2rem!important
}
.w-10{ width:10% !important }
.w-20{ width:20% !important }
.w-30{ width:30% !important }
.w-40{ width:40% !important }
.w-60{ width:60% !important }
.w-70{ width:70% !important }
.w-80{ width:80% !important }
.w-90{ width:90% !important }

.siteLoader{
    position:fixed;
    top:0;
    right:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background:#FFF;
    z-index:100;
}

.siteLoader img{
    display:block;
    margin:25vh auto;
}

.curPoint{
    cursor:pointer;
}

.big-btn{
    display: inline-block;
    color: #fff;
    line-height: 65px;
    background: 0 0;
    width: 250px;
    border: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotateZ(0);
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
    transition: all .3s ease;
    outline: 0 none!important;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1.5rem;    
    text-decoration: none!important;
}
.big-btn:before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    border-radius: 50px;
    right: 0;
    background: #fff;
    bottom: 0;
    left: 0;
    border: 6px solid rgba(255,255,255,0);
}
.big-btn span {
    display: block;
    z-index: 9;
    height: 65px;
    background-image: -webkit-gradient(linear,left top,right top,from(#f75d53),color-stop(1%,#f75d53),to(#fa8981));
    background-image: -webkit-linear-gradient(left,#f75d53 0,#f75d53 1%,#fa8981 100%);
    background-image: linear-gradient(to right,#f75d53 0,#f75d53 1%,#fa8981 100%);
    border-radius: 33px;
    -webkit-box-shadow: 3.1px 11.6px 38px rgba(254,56,43,.32);
    box-shadow: 3.1px 11.6px 38px rgba(254,56,43,.32);
    outline:0 none!important;
    text-decoration: none!important;
    color: #fff;
}
.big-btn:hover{
    text-decoration: none!important;
    color: #fff;
    outline:0 none!important;
}
.big-btn:hover:before {
    margin: -12px;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    opacity: 0;
    border-color: #f75d53;
}