@import url('fonts.css');
@import url('common.css');

.hero-text{
	font-size:3.1875rem;
}
.hero-paragraph{
	font-size:1.2rem;
	line-height:1.7rem;
}
.hero-paragraph:before {
	content: "";
	position: absolute;
	height: 75px;
	left: 20px;
	width: 3px;
	background-color: #E373C5;
	background-image: linear-gradient(#FFBA42,transparent);
}
.feat .hero{
	min-height:100vh;
	background:url('../img/newImg/bg5.png');
	background-size:cover;
	background-position:top right;
	top:-76px;
	padding-top:25vh;
	padding-bottom:10vh;
}
.feat .hero .hero-text{
	font-weight:600;
}
.feat .hero .hero-img{
	width:90%;
}
.feat .main-features #feature1{
	background: url(../img/newImg/bg2.png);
	background-size: 75%;
	background-position: top left;
	background-repeat: no-repeat;
	padding:5rem 0 0;
	margin:3rem 0 0;
}
.feat .main-features #feature1 p,
.feat .main-features #feature2 p,
.feat .main-features #feature3 p{
	font-size:1.1rem;
	line-height:1.5rem;
	font-weight:500;
}
.feat .main-features #feature2:before{
	display:block;
	content:'';
	position:absolute;
	right:0;
	background:url('../img/newImg/bg4.png');               
	background-size:contain;
	background-repeat:no-repeat;
	background-position:top right;              
	min-height:35vh;
	margin-top:-25%;
	width:100%;
	z-index:-1;
}
.feat .main-features #feature2{
	background: url(../img/newImg/bg2.png);
	background-size: 45%;
	background-position: top left;
	background-repeat: no-repeat;
	background-attachment:inherit;
	padding:5rem 0;
}       
.feat .main-features #feature3:before{
	display:block;
	content:'';
	position:absolute;
	right:0;
	background:url('../img/newImg/bg4.png');               
	background-size:contain;
	background-repeat:no-repeat;
	background-position:top right;              
	min-height:30vh;
	margin-top:-15%;
	width:100%;
	z-index:-1;
}
.feat .main-features #feature3{
	padding:1rem 0 5rem;
	background: url(../img/newImg/bg2.png);
	background-size: 55%;
	background-position: top left;
	background-repeat: no-repeat;
	background-attachment:inherit;
}

.feat .card{
	transition: all .4s ease-in-out;
	background:transparent!important;
}
.feat .card:hover,
.feat .card.active{
	box-shadow: 0 44px 98px 0 rgba(0, 0, 0, 0.12);
	transform:scale(1.01);
	background:#fff!important;
}

.feat #components{
	padding:7rem 0 10rem;
	margin:1rem 0 5rem;
	background: url(../img/newImg/bg2.png);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment:inherit;
}
.feat #components p{
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 2.2rem;
}
.feat #componentsDiff{
	padding:12rem 0;
	margin:5rem 0;
	background: url(../img/newImg/bg3.png);
	background-size: 75%;
	background-position: top right;
	background-repeat: no-repeat;
	background-attachment:inherit;
}

.feat #componentsDiff #pills-size img,
.feat #componentsDiff #pills-color img,
.feat #componentsDiff #pills-business img:not(.secondary){
	opacity: 0.75;
}
.feat #componentsDiff #pills-size .sizeDesc span{
	font-size: 3rem;
	margin-right: -16px;
}
.feat #componentsDiff #pills-color .sizeDesc span,
.feat #componentsDiff #pills-business .sizeDesc span{
	font-size: 3rem;
}
.feat #componentsDiff #pills-size .sizeDesc.orange{color: #E27440;}
.feat #componentsDiff #pills-size .sizeDesc.pink{color: #F371B7;}
.feat #componentsDiff #pills-size .sizeDesc.blue{color: #55BEFF;}
.feat #componentsDiff #pills-size .sizeDesc.green{color: #2BD123;}

.feat #componentsDiff #pills-color .sizeDesc.orange{color:#cacaca;text-shadow: 1px 1px 1px #E9E9E9;}
.feat #componentsDiff #pills-color .sizeDesc.pink{color: #000;}
.feat #componentsDiff #pills-color .sizeDesc.blue{color: #E8733F;}
.feat #componentsDiff #pills-color .sizeDesc.green{color: #E972BF;}

.feat #componentsDiff #pills-business .sizeDesc.orange{color: #E27440;}
.feat #componentsDiff #pills-business .sizeDesc.pink{color: #F371B7;}
.feat #componentsDiff #pills-business .sizeDesc.blue{color: #55BEFF;}
.feat #componentsDiff #pills-business .sizeDesc.green{color: #2BD123;}

.feat #componentsDiff #pills-business img.secondary{
	position: absolute;
	left: 0;
	right: 10%;
	top: 25%;
}
.feat .btn.active, 
.feat .btn:active,
.feat .btn:visited,
.feat .btn:focus {
	 background-image: linear-gradient(to bottom right,#FF6EAA 20%,#8989FF)!important; 
	 outline: 0 none!important; 
	 border:0!important
}
.feat #componentsDiff{
	padding: 5rem 0 7rem;
	margin: 1rem 0 5rem;
	background: url(../img/newImg/bg4.png);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: inherit;
}
.feat #allInOne{
	padding: 7rem 0 0rem;
	margin: 1rem 0 0rem;
}
.feat #allInOne:before{
	display:block;
	content:'';
	position:absolute;
	right:0;
	background:url('../img/newImg/bg2.png');               
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center left;              
	min-height:100vh;
	margin-top:-15%;
	width:100%;
	z-index:-1;
}
.feat #allInOne ul li img{
	opacity:.9;
}
.feat #tableAllInOne span.imgCont{
	display:inline-block;
	padding:1rem;
	border-radius:50%;
}
.feat #tableAllInOne span.imgCont.purple{ background:#D76BFF;}
.feat #tableAllInOne span.imgCont.green{ background:#24E270;}
.feat #tableAllInOne span.imgCont.blue{ background:#3ECCF9;}
.feat #tableAllInOne span.imgCont.orange{ background:#FFCD1E;}

.feat #benefits{
	padding: 7rem 0 0rem;
	margin: 1rem 0 5rem;
	/*background: url(../img/bgs/platform.png);*/
	background-position: top;
	background-size: 100%;	
	background-repeat: no-repeat;
	background-attachment: inherit;
}
.feat #pills-customers .shadow-lg{
	box-shadow: 0 44px 98px 0 rgba(0, 0, 0, 0.12)!important;
}
.feat #pills-customers .benefitsCircle{
	min-width:60px;
	min-height:60px;
	background-image: linear-gradient(to bottom right,#FF6EAA 20%,#8989FF)!important;
	z-index:2;
}

.feat #pills-customers .line {
    max-width: 10px !important;
    position: absolute !important;
    left: 0;
    right: 0;
    top: -5rem;
    z-index:1;
}
.feat #pills-customers .row.align-items-start{
	padding-top: 7%;
    padding-bottom: 7%;
}