@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
    font-family: 'AvenirLT-Medium';
    src: url('../fonts/34C634_0_0.eot');
    src: url('../fonts/34C634_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C634_0_0.woff2') format('woff2'),
         url('../fonts/34C634_0_0.woff') format('woff'),
         url('../fonts/34C634_0_0.ttf') format('truetype');
}
  
@font-face {
    font-family: 'AvenirLT-Roman';
    src: url('../fonts/34C634_1_0.eot');src: 
         url('../fonts/34C634_1_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C634_1_0.woff2') format('woff2'),
         url('../fonts/34C634_1_0.woff') format('woff'),
         url('../fonts/34C634_1_0.ttf') format('truetype');
}
   
@font-face {
    font-family: 'AvenirLT-MediumOblique';
    src: url('../fonts/34C634_2_0.eot');
    src: url('../fonts/34C634_2_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C634_2_0.woff2') format('woff2'),
         url('../fonts/34C634_2_0.woff') format('woff'),
         url('../fonts/34C634_2_0.ttf') format('truetype');
}
 
@font-face {
    font-family: 'AvenirLT-BookOblique';
    src: url('../fonts/34C634_3_0.eot');
    src: url('../fonts/34C634_3_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C634_3_0.woff2') format('woff2'),
         url('../fonts/34C634_3_0.woff') format('woff'),
         url('../fonts/34C634_3_0.ttf') format('truetype');
}
 
@font-face {
    font-family: 'AvenirLT-Black';
    src: url('../fonts/34C634_4_0.eot');
    src: url('../fonts/34C634_4_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C634_4_0.woff2') format('woff2'),
         url('../fonts/34C634_4_0.woff') format('woff'),
         url('../fonts/34C634_4_0.ttf') format('truetype');
}
 
@font-face {
    font-family: 'AvenirLT-HeavyOblique';
    src: url('../fonts/34C634_5_0.eot');
    src: url('../fonts/34C634_5_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C634_5_0.woff2') format('woff2'),
         url('../fonts/34C634_5_0.woff') format('woff'),
         url('../fonts/34C634_5_0.ttf') format('truetype');
}
  
@font-face {
    font-family: 'AvenirLT-Book';
    src: url('../fonts/34C634_6_0.eot');
    src: url('../fonts/34C634_6_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C634_6_0.woff2') format('woff2'),
         url('../fonts/34C634_6_0.woff') format('woff'),
         url('../fonts/34C634_6_0.ttf') format('truetype');
}
  
@font-face {font-family: 'AvenirLT-Light';
    src: url('../fonts/34C634_7_0.eot');
    src: url('../fonts/34C634_7_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C634_7_0.woff2') format('woff2'),
         url('../fonts/34C634_7_0.woff') format('woff'),
         url('../fonts/34C634_7_0.ttf') format('truetype');
}
   
@font-face {
    font-family: 'AvenirLT-BlackOblique';
    src: url('../fonts/34C634_8_0.eot');
    src: url('../fonts/34C634_8_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C634_8_0.woff2') format('woff2'),
         url('../fonts/34C634_8_0.woff') format('woff'),
         url('../fonts/34C634_8_0.ttf') format('truetype');
} 
  
@font-face {
    font-family: 'AvenirLT-LightOblique';
    src: url('../fonts/34C634_9_0.eot');
    src: url('../fonts/34C634_9_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C634_9_0.woff2') format('woff2'),
         url('../fonts/34C634_9_0.woff') format('woff'),
         url('../fonts/34C634_9_0.ttf') format('truetype');
} 
  
@font-face {
    font-family: 'AvenirLT-Oblique';
    src: url('../fonts/34C634_A_0.eot');
    src: url('../fonts/34C634_A_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C634_A_0.woff2') format('woff2'),
         url('../fonts/34C634_A_0.woff') format('woff'),
         url('../fonts/34C634_A_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirLT-Heavy';
    src: url('../fonts/34C634_B_0.eot');
    src: url('../fonts/34C634_B_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C634_B_0.woff2') format('woff2'),
         url('../fonts/34C634_B_0.woff') format('woff'),
         url('../fonts/34C634_B_0.ttf') format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }