.footer_container {
    text-align: center;
    padding: 3rem 0;
    background-color: #fff
}
@media only screen and (min-width: 1023px) {
    .footer_container {
        padding: 3rem 0;    
    }
}
.footer_container .wrapper {
    position: relative
}
@media only screen and (min-width: 1023px) {
    .footer_container {
        border-top: #fff 1px solid
    }
}
.footer_logo {
    display: none
}
.footer_logo img {
    -o-object-fit: contain;
    object-fit: contain
}
@media only screen and (min-width: 1023px) {
    .footer_logo {
        width: 115px;
        display: block;
        position: absolute;
    }
}
.footer_menu ul {
    list-style-type: none;
    padding-left: 0;
    width: 90%;
    margin: auto
}
@media only screen and (min-width: 1023px) {
    .footer_menu ul {
        width: auto
    }
}
.footer_menu ul li {
    display: inline-block
}
.footer_menu ul li a {
    color: #474747;
    padding: 0 .4rem;
    font-size: 1rem
}
.footer_menu ul li a:hover {
    text-decoration: none
}
@media only screen and (min-width: 1023px) {
    .footer_menu ul li a {
        font-size: .9rem;
        padding: 0 2vw
    }
}
@media only screen and (min-width: 1260px) {
    .footer_menu ul li a {
        padding: 0 2rem
    }
}
.footer_social {
    display: inline-block;
    margin-top: 30px
}
@media only screen and (min-width: 1023px) {
    .footer_social {
        margin-top: 0;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}
.footer_social a i {
    color: #474747;
    padding-right: 2rem
}
.footer_social a:last-child i {
    padding-right: 0
}
.footer_copyright {
    background-color: #fff;
    padding: 20px 0;
    font-size: .8rem;
    text-align: center;
    line-height: 1
}
.footer_copyright a {
    color: #a63e68;
    text-decoration: none
}


.subscribe{
    background: #5781DA;
    padding: 15rem 0 0;
}

.subscribe img{
    opacity:0.5;
}

.subscribe .callBtns{
    display: inline-block;
    color: #000;
    line-height: 65px;
    background: 0 0;
    width: 250px;
    border: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotateZ(0);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
    transition: all .3s ease;
    outline: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.subscribe .callBtns:before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    border-radius: 50px;
    right: 0;
    background: #fff;
    bottom: 0;
    left: 0;
    border: 6px solid rgba(255,255,255,0);
}
.subscribe .callBtns span {
    display: block;
    z-index: 9;
    height: 65px;
    background-image: -webkit-gradient(linear,left top,right top,from(#dfdfdf),color-stop(1%,#fefefe),to(#ffffff));
    background-image: -webkit-linear-gradient(left,#dfdfdf 0,#fefefe 1%,#ffffff 100%);
    background-image: linear-gradient(to right,#dfdfdf 0,#fefefe 1%,#ffffff 100%);
    border-radius: 33px;
    -webkit-box-shadow: 3.1px 11.6px 38px rgba(255, 255, 255, 0.32);
    box-shadow: 3.1px 11.6px 38px rgba(255, 255, 255, 0.32);
}
.subscribe .callBtns:hover{
    text-decoration: none;
    color: #000000;
}
.subscribe .callBtns:hover:before {
    margin: -12px;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    opacity: 0;
    border-color: #ffffff;
}
@media (min-width: 768px){
    .subscribe .curve_white {
        height: 100px;
    }
}
.subscribe .curve_white {
    display: block;
    height: 75px;
    background-image: url(https://chatlio.com/img/bg-curve-white.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: 5rem;
}
