header .navbar-nav{
    left:60%;
}
header, header nav{
    background-color: transparent;
}
header.whiteHeader{
    background-color:#fff!important;
    z-index:100;
    box-shadow: 0 44px 98px 0 rgba(0, 0, 0, 0.12);
}
header nav .nav-link{
    color:#fff;
    font-weight:500;
}
header nav .nav-item.active .nav-link{
    font-weight:bold;
}
header.whiteHeader nav .nav-link{
     color:#FA6FB0;
}