@import url('fonts.css');
@import url('common.css');

.home .hero{
    min-height:100vh;
    background:url('../img/bgs/homeBg.png');
    background-size:cover;
    background-position:top center;
    top:-76px;
    padding-top:20vh;
    padding-bottom:60vh;
}
.home .hero .hero-text{
    font-weight:600;
}
.home .hero .hero-img{
    left:-10%;
}
.home .homeFeatures1,
.home .homeFeatures3{
    background:url('../img/bgs/bg2.png');
    background-size:cover;
    background-position:top center;
}
.home .homeFeatures2,
.home .homeFeatures4{
    background:url('../img/bgs/bg4.png');               
    background-size:cover;
    background-position:75%;
}
.home .homeFeatures1{
    padding:4rem 0 7rem;
    margin:0;
}
.home .homeFeatures2{
    padding:4rem 0 7rem;
    margin:0;
}
.home .homeFeatures3{
    padding:4rem 0 7rem;
    margin:0;
}
.home .homeFeatures4{
    padding:4rem 0;
    margin:0;
}

.home .scroll-downs {
    position: relative;
    margin: 3rem auto 0;
    width :34px;
    height: 55px;
    top:-5vh;
}
@media (min-width: 1200px) {
    .home .scroll-downs {
        top:-15vh;
    }
}
.home .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #DC68AA;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.home .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #DC68AA;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}