<div id="main-header" class="navbar-fixed white"> 
    <nav class="white">
      	<div class="nav-wrapper container">
        <a href="/" class="brand-logo"><strong class="black-text">TRYY IT</strong></a>
        <a data-activates="mobile-menu" class="button-collapse">
        	<i class="material-icons black-text">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          	<li><a class="black-text" href="/features">FEATURES</a></li>
          	<li><a class="black-text" href="/tryyShop">TRYY'N SHOP</a></li>
          	<li><a class="black-text" href="/tryyShop">ABOUT US</a></li>
          	<li><a class="black-text" href="/tryyShop">CONTACT US</a></li>
        </ul>
      </div>
    </nav>
</div>

<ul id="mobile-menu" class="side-nav">
    <li>
    	<div class="user-view valign-wrapper">
      		<h3 class="text-center black-text flow-text"><b>TRYY IT</b></h3>
      	</div>
	</li>
	<li><div class="divider"></div></li>
	<li><a class="black-text" href="/features">FEATURES</a></li>
	<li><div class="divider"></div></li>
  	<li><a class="black-text" href="/tryyShop">Tryy'N Shop</a></li>
  	<li><div class="divider"></div></li>
  	<li><a class="black-text" href="/tryyShop">About Us</a></li>
  	<li><div class="divider"></div></li>
  	<li><a class="black-text" href="/tryyShop">Contact Us</a></li>
  	<li><div class="divider"></div></li>
</ul>