@font-face {
    font-family: 'CamphorPro';
    font-weight: 500;
    src: url(../fonts/3473F0_0_0.eot);
    src: url(../fonts/3473F0_0_0.eot?#iefix) format("embedded-opentype"), 
         url(../fonts/3473F0_0_0.woff2) format("woff2"), 
         url(../fonts/3473F0_0_0.woff) format("woff"), 
         url(../fonts/3473F0_0_0.ttf) format("truetype")
}
@font-face {
    font-family: 'CamphorPro';
    font-weight: 300;
    src: url(../fonts/3473F0_1_0.eot);
    src: url(../fonts/3473F0_1_0.eot?#iefix) format("embedded-opentype"), 
         url(../fonts/3473F0_1_0.woff2) format("woff2"), 
         url(../fonts/3473F0_1_0.woff) format("woff"), 
         url(../fonts/3473F0_1_0.ttf) format("truetype")
}
@font-face {
    font-family: 'Black Tie';
    src: url(../fonts/solid/BlackTie-Solid-webfont.eot?v=1.0.0);
    src: url(../fonts/solid/BlackTie-Solid-webfont.eot?#iefix&v=1.0.0) format("embedded-opentype"), 
         url(../fonts/solid/BlackTie-Solid-webfont.woff2?v=1.0.0) format("woff2"), 
         url(../fonts/solid/BlackTie-Solid-webfont.woff?v=1.0.0) format("woff"), 
         url(../fonts/solid/BlackTie-Solid-webfont.ttf?v=1.0.0) format("truetype"), 
         url(../fonts/solid/BlackTie-Solid-webfont.svg?v=1.0.0#black_tiesolid) format("svg");
    font-weight: 900;
    font-style: normal
}
@font-face {
    font-family: 'Black Tie';
    src: url(../fonts/bold/BlackTie-Bold-webfont.eot?v=1.0.0);
    src: url(../fonts/bold/BlackTie-Bold-webfont.eot?#iefix&v=1.0.0) format("embedded-opentype"), 
         url(../fonts/bold/BlackTie-Bold-webfont.woff2?v=1.0.0) format("woff2"), 
         url(../fonts/bold/BlackTie-Bold-webfont.woff?v=1.0.0) format("woff"), 
         url(../fonts/bold/BlackTie-Bold-webfont.ttf?v=1.0.0) format("truetype"), 
         url(../fonts/bold/BlackTie-Bold-webfont.svg?v=1.0.0#black_tiebold) format("svg");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'Black Tie';
    src: url(../fonts/regular/BlackTie-Regular-webfont.eot?v=1.0.0);
    src: url(../fonts/regular/BlackTie-Regular-webfont.eot?#iefix&v=1.0.0) format("embedded-opentype"), 
         url(../fonts/regular/BlackTie-Regular-webfont.woff2?v=1.0.0) format("woff2"), 
         url(../fonts/regular/BlackTie-Regular-webfont.woff?v=1.0.0) format("woff"), 
         url(../fonts/regular/BlackTie-Regular-webfont.ttf?v=1.0.0) format("truetype"), 
         url(../fonts/regular/BlackTie-Regular-webfont.svg?v=1.0.0#black_tieregular) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Black Tie';
    src: url(../fonts/light/BlackTie-Light-webfont.eot?v=1.0.0);
    src: url(../fonts/light/BlackTie-Light-webfont.eot?#iefix&v=1.0.0) format("embedded-opentype"), 
         url(../fonts/light/BlackTie-Light-webfont.woff2?v=1.0.0) format("woff2"), 
         url(../fonts/light/BlackTie-Light-webfont.woff?v=1.0.0) format("woff"), 
         url(../fonts/light/BlackTie-Light-webfont.ttf?v=1.0.0) format("truetype"), 
         url(../fonts/light/BlackTie-Light-webfont.svg?v=1.0.0#black_tielight) format("svg");
    font-weight: 200;
    font-style: normal
}
@font-face {
    font-family: 'Font Awesome Brands';
    src: url(../fonts/brands/FontAwesomeBrands-Regular-webfont.eot?v=1.0.0);
    src: url(../fonts/brands/FontAwesomeBrands-Regular-webfont.eot?#iefix&v=1.0.0) format("embedded-opentype"), 
         url(../fonts/brands/FontAwesomeBrands-Regular-webfont.woff2?v=1.0.0) format("woff2"), 
         url(../fonts/brands/FontAwesomeBrands-Regular-webfont.woff?v=1.0.0) format("woff"),
         url(../fonts/brands/FontAwesomeBrands-Regular-webfont.ttf?v=1.0.0) format("truetype"),
         url(../fonts/brands/FontAwesomeBrands-Regular-webfont.svg?v=1.0.0#font_awesome_brandsregular) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'FontAwesome';
    src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), 
         url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"), 
         url(../fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"), 
         url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), 
         url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
    font-weight: normal;
    font-style: normal
}